<div class="top-head left">
    <div class="container">
            <div class="row">
        <div class="col-md-6 col-lg-4">
                <h1>Moink's Memes<small>Get the latest News</small></h1>
              </div>
        <div class="col-md-6 col-lg-3 offset-lg-5 admin-bar hidden-sm-down">
                <nav class="nav nav-inline"> <a href="#" class="nav-link"><span class="ping">
                  
                </span><i class="fa fa-envelope-o"></i></a> <a href="#" class="nav-link"><i class="fa fa-bell-o"></i>
                </a> <a href="#" class="nav-link"> <%= current_user.username %> <img class="img-fluid rounded-circle" src="http://grafreez.com/wp-content/temp_demos/river/img/admin-bg.jpg"></a> </nav>
              </div>
      </div>
          </div>
  </div>